{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <!-- single slide -->
    <div class="p-2 bg-light" style="background-image: url({{ asset('img/background.jpg') }}); background-size: cover">
        <div class="container py-5 text-center card-glass text-white">
            <h1 class="display-5 fw-bold animated bounceInRight ">Optez Pour un service rapide à bon prix</h1>
        </div>
    </div>
    <!-- end single slide -->
    <main class="container-fluid">

        <div class="container">
            <div class="row py-4">
                <div class="col-md-6">
                    <div class="card">
                        <img src= "{{asset('img/img.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body mt-3">
                        <p><strong>Prix : </strong><input type="number" id="prix" name="prix" value={{ produit.prixVente }} disabled/> Fcfa </p>
                        <p><strong>Réduction :</strong> {{ produit.tauxReduction ~ "%" }} </p>
                        <p><strong>Poids :</strong> {{ produit.poids ~ " kg" }} </p>
                        <p><strong>Description :</strong> {{ produit.designation}} </p>
                    </div>
                    <div class="card card-body mt-3">
                        {# affichage du message flash #}
                        {% for message in app.flashes('msProduitExiste') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card card-body mt-3">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_start(formulaire) }}
                                <div class="form-group">
                                    {{ form_row(formulaire.quantite, {attr: {'class': 'form-control'}}) }}
                                    <!--input type="number" id="nombre" name="nombre" class="form-control" min=0 max=100 placeholder="Quantité"/-->
                                </div>
                            </div>
                            <div class="col-md-6"align="right">
                                     {{ form_row(formulaire.Suivant, {attr: {'class': 'btn btn-primary'}}) }}
                                <!--a class="btn btn-outline-primary" href="{#'/achat/' ~ produit.id #}">Payer</a-->
                            </div>
                            {{ form_end(formulaire) }}
                        </div>
                        <!--hr>
                        <p><strong>Total: </strong><input type="text" id="total" name="total" disabled/></p-->
                    </div>
                    <div class="card card-body bg-color1 border-color2 mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad ullam in dolorem reiciendis obcaecati rerum deleniti labore nihil officiis, nulla sunt corrupti esse aspernatur, voluptas maiores provident ea ducimus!
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- autres produit -->
        <div class="container-fluid">
            <div class="row">
                <h4 class="m-4">Produits similaires</h4>
                <div class="owl-carousel">
                    {% for prod in lesProduits %}
                        <div class="item">
                            <div class="card border-color2">
                                <img src="{{ asset('img/img.jpg') }}" class="card-img-top" width=100 alt="">
                                <div class="card-body">
                                    <p class="p-card">
                                        Prix: {{ prod.prixVente ~ " Fcfa" }}
                                    </p>
                                    <p class="p-card">
                                        Poids: {{ prod.poids ~ " kg" }}
                                    </p>
                                    <p class="p-card">
                                        Réduction: {{ prod.tauxReduction ~ "%" }}
                                    </p>
                                    <div align="right">
                                        <a class="btn btn-outline-primary" href="{{ '/panier/ajout/' ~ prod.id }}">Acheter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}