{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

    {% block body %}
        <div class="container-fluid">
            <div class="col-lg-7 mx-auto py-5">
                <div class="card card-body ">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Designation</th>
                                    <th>Quantité</th>
                                    <th>Prix unitaire</th>
                                    <th class="text-center"><i class="fas fa-ellipsis-v"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nombre in 1..app.session.get('nombreType') %}
                                    {% set produi = "produit" ~ nombre %}
                                        <tr>
                                            <td>
                                                <img src="{{asset('img//produits/' ~ app.session.get(produi)[4])}}" class="img-fluid" width="50" alt="">
                                            </td>
                                            <td>{{ app.session.get(produi)[1] }}</td>
                                            <td>{{ app.session.get(produi)[3] }}</td>
                                            <td>{{ app.session.get(produi)[2] }} frs CFA</td>
                                            <td>
                                                <div align="center">
                                                    <a href="{{path('supprimerProduit', {'id': app.session.get(produi)[0]})}}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-trash" style="color:red"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">Total</td>
                                        <td>{{ app.session.get('valeurPanier') }} frs CFA</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div align="right">
                            <a class="btn btn-sm btn-outline-primary" href="{{ is_granted('ROLE_CLIENT_ENTREPRISE') ? path('validationEntreprise') : path('validationClient') }}"><i class="fas fa-check-circle"></i> Valider</a>
                        </div>
                    </div>
                </div>
                <!-- autres produit -->
                <div class="container-fluid">
                    <div class="row py-5">
                        <h4 class="m-4">Ajouter d'autres produits</h4>
                        <div class="owl-carousel">
                            {% for prod in lesProduits %}
                                <div class="item">
                                    <div class="card">
                                        {% if prod.image %}
                                            <img src="{{ asset('img/produits/' ~ prod.image) }}" class="img-fluid card-img-top rounded-start" width="200">
                                    {% else %}
                                        <img src="{{ asset('img/img.jpg') }}" class="img-fluid card-img-top rounded-start" width="150">
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="p-card">
                                            Prix: {{ prod.prixVente ~ " Fcfa" }}
                                        </p>
                                        <p class="p-card">
                                            Poids: {{ prod.poids ~ " kg" }}
                                        </p>
                                        <p class="p-card mb-3">
                                            Réduction: {{ prod.tauxReduction ~ "%" }}
                                        </p>
                                        <a class="btn btn-primary w-100 btn-item" href="{{ '/panier/ajout/' ~ prod.id}}"><i class="fas fa-cart-plus"></i> {{ app.session.get("nombreType") ? 'Ajouter au panier' : 'Acheter'}}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
