{% extends 'base_admin.html.twig' %}

{% block body %}

  <div class="container-fluid p-4">
    <div class="row">
      <h4>Gestionnaires des Produits</h4>
      <hr>
      <div class="row mb-3">
        <div class="col-sm-9">
          <div class="card card-body bg-light">
            <div class="row">
              <div class="col-sm">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                  <input type="text" class="form-control" placeholder="Recherche">
                </div>
              </div>
              <div class="col-sm count" align="right">
                {% if editMode %}
                  Modification
                {% else %}
                  Nouveau
                {% endif %}
                Produit
              </div>
            </div>
            <div class="row">
             {{ form_start(produitForm, {'attr': {'novalidate': 'novalidate'}}) }}
             <div class="row mb-4">
              <div class="col-sm-4">
                {% if produitForm.vars.value.image %}
                  <img src="{{ asset('img/produits/' ~ produitForm.vars.value.image) }}" class="img-fluid rounded-start" width="250">
                {% else %}
                  <img src="{{ asset('img/img.jpg') }}" class="img-fluid rounded-start" width="250">
                {% endif %}
              </div>
              <div class="col-sm-8">
                <div class="mb-4">{{ form_widget(produitForm.image, {'attr': {'placeholder': ''}}) }}</div>
                <div class="row mb-4">
                  <div class="col-sm-6">{{ form_widget(produitForm.designation, {'attr': {'placeholder': 'designation'}}) }}</div>
                  <div class="col-sm-6">{{ form_widget(produitForm.quantiteStock, {'attr': {'placeholder': 'quantité'}}) }}</div>
                </div>
                <div class="row mb-4">
                  <div class="col-sm-6">{{ form_widget(produitForm.prixAchat, {'attr': {'placeholder': 'prix d\'achat'}}) }}</div>
                  <div class="col-sm-6">{{ form_widget(produitForm.prixVente, {'attr': {'placeholder': 'prix de vente'}}) }}</div>
                </div>
                <div class="row mb-4">
                  <div class="col-sm-6">{{ form_widget(produitForm.poids, {'attr': {'placeholder': 'poids'}}) }}</div>
                  <div class="col-sm-6">{{ form_widget(produitForm.tauxReduction, {'attr': {'placeholder': 'taux de réduction'}}) }}</div>
                </div>
                <div class="row" align="right">{{ form_row(produitForm.submit, { 'label': 'Enregirter' }) }}</div>
              </div>
            </div>
            {{ form_end(produitForm) }}

          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body bg-light">
          <h5>Filtre</h5>
          <hr>
          Tyep de filtre choisie
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

