{% extends 'base.html.twig' %}

{% block body %}
    <!-- products -->
    <div class="container-fluid">
        {#  #}
        <div class="row py-5">
            {#  #}
            <div class="owl-carousel">
                {% for produit in lesProduits %}
                    <div class="item">
                        <div class="card">
                          {% if produit.image %}
                            <img src="{{ asset('img/produits/' ~ produit.image) }}" class="img-fluid card-img-top rounded-start" width="150">
                        {% else %}
                            <img src="{{ asset('img/img.jpg') }}" class="img-fluid card-img-top rounded-start" width="150">
                        {% endif %}
                        <div class="card-body">
                            <p class="p-card">
                                Prix: {{ produit.prixVente ~ " Fcfa" }}
                            </p>
                            <p class="p-card">
                                Poids: {{ produit.poids ~ " kg" }}
                            </p>
                            <p class="p-card mb-3">
                                Réduction: {{ produit.tauxReduction ~ "%" }}
                            </p>
                            <a class="btn btn-primary w-100 btn-item" href="{{ '/panier/ajout/' ~ produit.id}}"><i class="fas fa-cart-plus"></i> {{ app.session.get("nombreType") ? 'Ajouter au panier' : 'Acheter'}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- pesentation -->
    <div class="p-2 bg-light rounded-3" style="background-image: url({{ asset('img/poulet.jpg') }}); background-size: cover">
        <div class="container py-5 text-center card-glass text-white">
            <h1 class="display-5 fw-bold animated bounceInRight ">Nos Services</h1>
        </div>
    </div>

    <!-- Services -->
    <div class="row text-center">
        <div class="col-md-4 p-4">
            <img src="{{asset('img/img.jpg') }}" class="img-fluid rounded-circle mb-1" width=100 alt="">
            <h4>Service</h4>
            <p>small description</p>
        </div>
        <div class="col-md-4 p-4">
            <img src="{{ asset('img/img.jpg') }}" class="img-fluid rounded-circle mb-1" width=100 alt="">
            <h4>Service</h4>
            <p>small description</p>
        </div>
        <div class="col-md-4 p-4">
            <img src="{{ asset('img/img.jpg') }}" class="img-fluid rounded-circle mb-1" width=100 alt="">
            <h4>Service</h4>
            <p>small description</p>
        </div>
    </div>
</div>
{% endblock %}

